html, body {
  height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: ADLaM Display;
}

/* Grid container */
.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: 
      "cover cover cover"
      "cover cover cover"
      "main main main"
      "footer footer footer";
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.dropDown{
  float:right;
}

.title{
  grid-area: title;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main{
  height: 45vh;
  grid-area: main;
  background-color: honeydew;
  text-align: center;
  padding: 20px;
}

.cover{
  grid-area: cover;
  position: relative;
  background-image: url('images/homepage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white; 
  height: 50vh;
  width: 100%;
}